<div class="svg-defs no-display">
    <svg xmlns="http://www.w3.org/2000/svg">

        <symbol id="shopping-cart" viewBox="0 0 31 31" fill="none">
            <path d="M10.2236 28C10.914 28 11.4736 27.4404 11.4736 26.75C11.4736 26.0596 10.914 25.5 10.2236 25.5C9.53328 25.5 8.97363 26.0596 8.97363 26.75C8.97363 27.4404 9.53328 28 10.2236 28Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.9736 28C24.664 28 25.2236 27.4404 25.2236 26.75C25.2236 26.0596 24.664 25.5 23.9736 25.5C23.2833 25.5 22.7236 26.0596 22.7236 26.75C22.7236 27.4404 23.2833 28 23.9736 28Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.78613 3.0625H5.28613L8.61113 18.5875C8.73311 19.1561 9.04947 19.6643 9.50577 20.0248C9.96207 20.3853 10.5298 20.5754 11.1111 20.5625H23.3361C23.9051 20.5616 24.4567 20.3666 24.8999 20.0098C25.3431 19.653 25.6513 19.1557 25.7736 18.6L27.8361 9.3125H6.62363" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>
        <svg id="shopping-cart-mobile" viewBox="0 0 23 22" fill="none">
            <path d="M8.00749 20.1667C8.51375 20.1667 8.92415 19.7563 8.92415 19.25C8.92415 18.7438 8.51375 18.3334 8.00749 18.3334C7.50123 18.3334 7.09082 18.7438 7.09082 19.25C7.09082 19.7563 7.50123 20.1667 8.00749 20.1667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.0905 20.1667C18.5968 20.1667 19.0072 19.7563 19.0072 19.25C19.0072 18.7438 18.5968 18.3334 18.0905 18.3334C17.5842 18.3334 17.1738 18.7438 17.1738 19.25C17.1738 19.7563 17.5842 20.1667 18.0905 20.1667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.55273 1.87915H4.38607L6.8244 13.2642C6.91385 13.6811 7.14585 14.0538 7.48047 14.3182C7.81509 14.5825 8.2314 14.722 8.65773 14.7125H17.6227C18.04 14.7118 18.4445 14.5688 18.7695 14.3072C19.0945 14.0455 19.3205 13.6808 19.4102 13.2733L20.9227 6.46248H5.3669" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <symbol id="hearth" viewBox="0 0 31 31">
            <path d="M23.9736 18C25.8361 16.175 27.7236 13.9875 27.7236 11.125C27.7236 9.30164 26.9993 7.55295 25.71 6.26364C24.4207 4.97433 22.672 4.25 20.8486 4.25C18.6486 4.25 17.0986 4.875 15.2236 6.75C13.3486 4.875 11.7986 4.25 9.59863 4.25C7.77527 4.25 6.02659 4.97433 4.73727 6.26364C3.44796 7.55295 2.72363 9.30164 2.72363 11.125C2.72363 14 4.59863 16.1875 6.47363 18L15.2236 26.75L23.9736 18Z"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <svg id="hearth-mobile" viewBox="0 0 23 22" fill="none">
            <path d="M18.0902 12.8333C19.456 11.495 20.8402 9.89083 20.8402 7.79167C20.8402 6.45453 20.309 5.17217 19.3635 4.22667C18.418 3.28117 17.1356 2.75 15.7985 2.75C14.1852 2.75 13.0485 3.20833 11.6735 4.58333C10.2985 3.20833 9.16184 2.75 7.5485 2.75C6.21137 2.75 4.929 3.28117 3.98351 4.22667C3.03801 5.17217 2.50684 6.45453 2.50684 7.79167C2.50684 9.9 3.88184 11.5042 5.25684 12.8333L11.6735 19.25L18.0902 12.8333Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <symbol id="heart-card" viewBox="0 0 22 24" fill="none">
            <path d="M18 12C19.49 10.54 21 8.79 21 6.5C21 5.04131 20.4205 3.64236 19.3891 2.61091C18.3576 1.57946 16.9587 1 15.5 1C13.74 1 12.5 1.5 11 3C9.5 1.5 8.26 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 8.8 2.5 10.55 4 12L11 19L18 12Z" stroke="#525251" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="user" viewBox="0 0 31 31" fill="none">
            <path d="M14.9736 15.7815C18.2873 15.7815 20.9736 13.0952 20.9736 9.78149C20.9736 6.46779 18.2873 3.78149 14.9736 3.78149C11.6599 3.78149 8.97363 6.46779 8.97363 9.78149C8.97363 13.0952 11.6599 15.7815 14.9736 15.7815Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24.2236 27.2185C24.2236 24.8316 23.2754 22.5424 21.5876 20.8545C19.8998 19.1667 17.6106 18.2185 15.2236 18.2185C12.8367 18.2185 10.5475 19.1667 8.85967 20.8545C7.17184 22.5424 6.22363 24.8316 6.22363 27.2185" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <svg id="user-mobile" viewBox="0 0 23 22" fill="none">
            <path d="M11.4908 11.2064C13.9209 11.2064 15.8908 9.23642 15.8908 6.80637C15.8908 4.37632 13.9209 2.40637 11.4908 2.40637C9.06077 2.40637 7.09082 4.37632 7.09082 6.80637C7.09082 9.23642 9.06077 11.2064 11.4908 11.2064Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.2742 19.5935C18.2742 17.8431 17.5789 16.1644 16.3411 14.9266C15.1034 13.6889 13.4246 12.9935 11.6742 12.9935C9.92379 12.9935 8.24505 13.6889 7.00731 14.9266C5.76957 16.1644 5.07422 17.8431 5.07422 19.5935" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <symbol id="circle-check" viewBox="0 0 17 17" fill="none">
            <g clip-path="url(#clip0_1208_305)">
                <path d="M8.6735 14.6867C12.3554 14.6867 15.3402 11.702 15.3402 8.02006C15.3402 4.33816 12.3554 1.35339 8.6735 1.35339C4.9916 1.35339 2.00684 4.33816 2.00684 8.02006C2.00684 11.702 4.9916 14.6867 8.6735 14.6867Z" stroke="#BCCF00" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.3252 8.01998L7.55794 10.2527L12.0234 5.78723" stroke="#BCCF00" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
                <clipPath id="clip0_1208_305">
                    <rect width="16" height="16" fill="white" transform="translate(0.673828 0.0200195)"/>
                </clipPath>
            </defs>
        </symbol>

        <symbol id="search-icon" viewBox="0 0 31 31" fill="none">
            <path d="M13.9736 24.25C19.4965 24.25 23.9736 19.7728 23.9736 14.25C23.9736 8.72715 19.4965 4.25 13.9736 4.25C8.45079 4.25 3.97363 8.72715 3.97363 14.25C3.97363 19.7728 8.45079 24.25 13.9736 24.25Z" stroke="#005722" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M26.4736 26.75L21.0986 21.375" stroke="#005722" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="user-check" viewBox="0 0 9 7" fill="none">
            <path d="M0.874512 3.49996L3.10726 5.73271L7.57275 1.26721" stroke="#005722" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="phone" viewBox="0 0 23 22" fill="none">
            <path d="M20.8401 15.51V18.26C20.8412 18.5153 20.7889 18.768 20.6866 19.0019C20.5843 19.2358 20.4343 19.4458 20.2462 19.6184C20.0581 19.791 19.836 19.9224 19.5942 20.0042C19.3523 20.0859 19.0961 20.1163 18.8418 20.0933C16.0211 19.7868 13.3116 18.823 10.931 17.2792C8.71616 15.8718 6.83837 13.994 5.43098 11.7792C3.8818 9.38778 2.9177 6.66509 2.61682 3.83167C2.59391 3.57819 2.62403 3.3227 2.70527 3.0815C2.78651 2.84029 2.91709 2.61864 3.08868 2.43066C3.26028 2.24268 3.46914 2.09249 3.70196 1.98965C3.93478 1.88681 4.18646 1.83358 4.44098 1.83334H7.19098C7.63585 1.82896 8.06712 1.9865 8.40443 2.27658C8.74174 2.56666 8.96205 2.9695 9.02432 3.41001C9.14039 4.29007 9.35564 5.15417 9.66598 5.98584C9.78931 6.31394 9.81601 6.67051 9.7429 7.01331C9.66979 7.35612 9.49994 7.67078 9.25348 7.92001L8.08932 9.08417C9.39424 11.3791 11.2944 13.2792 13.5893 14.5842L14.7535 13.42C15.0027 13.1736 15.3174 13.0037 15.6602 12.9306C16.003 12.8575 16.3596 12.8842 16.6876 13.0075C17.5193 13.3178 18.3834 13.5331 19.2635 13.6492C19.7088 13.712 20.1154 13.9363 20.4061 14.2794C20.6968 14.6225 20.8513 15.0605 20.8401 15.51Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="trash" viewBox="0 0 20 21" fill="none">
            <path d="M2.5 5.35645H17.5" stroke="#525251" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.8327 5.35645V17.0231C15.8327 17.8564 14.9993 18.6898 14.166 18.6898H5.83268C4.99935 18.6898 4.16602 17.8564 4.16602 17.0231V5.35645" stroke="#525251" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.66602 5.35647V3.6898C6.66602 2.85647 7.49935 2.02313 8.33268 2.02313H11.666C12.4993 2.02313 13.3327 2.85647 13.3327 3.6898V5.35647" stroke="#525251" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>


        <symbol id="details" viewBox="0 0 24 25" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.0144 12.7101C5.08968 12.8369 5.18663 12.9941 5.3047 13.1737C5.63223 13.6718 6.11739 14.3344 6.74723 14.9943C8.01962 16.3273 9.79777 17.5642 12.0001 17.5642C14.2018 17.5642 15.9799 16.3274 17.2525 14.9943C17.8824 14.3344 18.3677 13.6718 18.6953 13.1736C18.8134 12.9941 18.9103 12.8369 18.9856 12.7101C18.9103 12.5833 18.8134 12.4261 18.6953 12.2465C18.3677 11.7484 17.8824 11.0858 17.2525 10.4259C15.9799 9.09278 14.2018 7.85596 12.0001 7.85596C9.79777 7.85596 8.01962 9.09281 6.74723 10.4259C6.11739 11.0857 5.63223 11.7483 5.3047 12.2465C5.18663 12.426 5.08968 12.5833 5.0144 12.7101ZM19.8458 12.7101C20.5142 12.3697 20.514 12.3695 20.5139 12.3692L20.5127 12.3669L20.5102 12.362L20.5019 12.3461C20.495 12.3329 20.4853 12.3146 20.4728 12.2913C20.4478 12.2449 20.4115 12.179 20.3642 12.0965C20.2697 11.9315 20.1307 11.6993 19.9486 11.4223C19.5851 10.8697 19.045 10.1313 18.3375 9.39014C16.9352 7.92119 14.7905 6.35596 12.0001 6.35596C9.20908 6.35596 7.06434 7.92116 5.66217 9.39017C4.95474 10.1313 4.41469 10.8698 4.05134 11.4224C3.86921 11.6994 3.73026 11.9316 3.63578 12.0966C3.58851 12.1791 3.55228 12.245 3.52726 12.2914C3.51475 12.3147 3.50504 12.333 3.49814 12.3462L3.4899 12.3621L3.48737 12.367L3.4865 12.3687C3.48636 12.3689 3.4859 12.3699 4.1543 12.7101L3.4859 12.3699C3.3771 12.5836 3.3771 12.8365 3.4859 13.0503L4.1543 12.7101C3.4859 13.0503 3.48576 13.05 3.4859 13.0503L3.48737 13.0532L3.4899 13.0581L3.49814 13.0739C3.50504 13.0871 3.51475 13.1055 3.52726 13.1287C3.55228 13.1751 3.58851 13.241 3.63578 13.3236C3.73026 13.4886 3.86921 13.7207 4.05134 13.9978C4.41469 14.5504 4.95474 15.2888 5.66217 16.03C7.06434 17.499 9.20908 19.0642 12.0001 19.0642C14.7905 19.0642 16.9352 17.499 18.3375 16.03C19.045 15.2889 19.5851 14.5504 19.9486 13.9978C20.1307 13.7208 20.2697 13.4887 20.3642 13.3237C20.4115 13.2411 20.4478 13.1752 20.4728 13.1288C20.4853 13.1056 20.495 13.0872 20.5019 13.074L20.5102 13.0582L20.5127 13.0533L20.5136 13.0516C20.5137 13.0513 20.5142 13.0504 19.8458 12.7101ZM19.8458 12.7101L20.5142 13.0504C20.623 12.8366 20.6228 12.583 20.5139 12.3692L19.8458 12.7101Z" fill="#525251"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6771 11.3873C11.0279 11.0365 11.5038 10.8394 12 10.8394C12.4961 10.8394 12.972 11.0365 13.3228 11.3873C13.6737 11.7382 13.8708 12.214 13.8708 12.7102C13.8708 13.2064 13.6737 13.6822 13.3228 14.033C12.972 14.3839 12.4961 14.581 12 14.581C11.5038 14.581 11.0279 14.3839 10.6771 14.033C10.3263 13.6822 10.1292 13.2064 10.1292 12.7102C10.1292 12.214 10.3263 11.7382 10.6771 11.3873ZM12 12.3394C11.9016 12.3394 11.8073 12.3784 11.7378 12.448C11.6682 12.5175 11.6292 12.6118 11.6292 12.7102C11.6292 12.8085 11.6682 12.9028 11.7378 12.9724C11.8073 13.0419 11.9016 13.081 12 13.081C12.0983 13.081 12.1926 13.0419 12.2622 12.9724C12.3317 12.9028 12.3708 12.8085 12.3708 12.7102C12.3708 12.6118 12.3317 12.5175 12.2622 12.448C12.1926 12.3784 12.0983 12.3394 12 12.3394Z" fill="#525251"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.9126 17.564C2.32681 17.564 2.6626 17.8998 2.6626 18.314V20.5556C2.6626 20.9512 2.81975 21.3306 3.09949 21.6104C3.37923 21.8901 3.75863 22.0473 4.15424 22.0473H19.8458C20.2414 22.0473 20.6208 21.8901 20.9005 21.6104C21.1802 21.3306 21.3374 20.9512 21.3374 20.5556V18.314C21.3374 17.8998 21.6732 17.564 22.0874 17.564C22.5016 17.564 22.8374 17.8998 22.8374 18.314V20.5556C22.8374 21.349 22.5222 22.11 21.9612 22.671C21.4001 23.2321 20.6392 23.5473 19.8458 23.5473H4.15424C3.36081 23.5473 2.59987 23.2321 2.03883 22.671C1.47779 22.11 1.1626 21.349 1.1626 20.5556V18.314C1.1626 17.8998 1.49838 17.564 1.9126 17.564Z" fill="#525251"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.03883 2.74879C2.59987 2.18775 3.36081 1.87256 4.15424 1.87256H19.8458C20.6392 1.87256 21.4001 2.18775 21.9612 2.74879C22.5222 3.30983 22.8374 4.07077 22.8374 4.8642V7.10585C22.8374 7.52006 22.5016 7.85585 22.0874 7.85585C21.6732 7.85585 21.3374 7.52006 21.3374 7.10585V4.8642C21.3374 4.4686 21.1802 4.08919 20.9005 3.80945C20.6208 3.52971 20.2414 3.37256 19.8458 3.37256H4.15424C3.75863 3.37256 3.37923 3.52971 3.09949 3.80945C2.81975 4.08919 2.6626 4.46859 2.6626 4.8642V7.10585C2.6626 7.52006 2.32681 7.85585 1.9126 7.85585C1.49838 7.85585 1.1626 7.52006 1.1626 7.10585V4.8642C1.1626 4.07077 1.47779 3.30983 2.03883 2.74879Z" fill="#525251"/>
        </symbol>

        <symbol id="discount" viewBox="0 0 20 18" fill="none">
            <path d="M12.0059 6.10352e-05V18.0001H1.00586C0.740643 18.0001 0.486289 17.8947 0.298753 17.7072C0.111216 17.5196 0.00585938 17.2653 0.00585938 17.0001V11.5001C0.668901 11.5001 1.30479 11.2367 1.77363 10.7678C2.24247 10.299 2.50586 9.6631 2.50586 9.00006C2.50586 8.33702 2.24247 7.70114 1.77363 7.23229C1.30479 6.76345 0.668901 6.50006 0.00585938 6.50006V1.00006C0.00585938 0.734845 0.111216 0.480491 0.298753 0.292954C0.486289 0.105418 0.740643 6.10352e-05 1.00586 6.10352e-05H12.0059ZM14.0059 6.10352e-05H19.0059C19.2711 6.10352e-05 19.5254 0.105418 19.713 0.292954C19.9005 0.480491 20.0059 0.734845 20.0059 1.00006V6.50006C19.3428 6.50006 18.7069 6.76345 18.2381 7.23229C17.7692 7.70114 17.5059 8.33702 17.5059 9.00006C17.5059 9.6631 17.7692 10.299 18.2381 10.7678C18.7069 11.2367 19.3428 11.5001 20.0059 11.5001V17.0001C20.0059 17.2653 19.9005 17.5196 19.713 17.7072C19.5254 17.8947 19.2711 18.0001 19.0059 18.0001H14.0059V6.10352e-05Z" fill="#231F20"/>
        </symbol>

        <symbol id="details_n" viewBox="0 0 24 25" fill="none">
            <path d="M6.75 19.8379L17.25 12.8379L6.75 5.83789" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

    </svg>
</div>