{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_items %}
    {% block component_filter_panel_item_custom_actions %}
        <div class="filter-panel-custom-actions"></div>
    {% endblock %}

    {{ parent() }}
{% endblock %}

{% block component_filter_panel_active_container %}
    <div class="filter-panel-active-container hidden">
        {% block component_filter_panel_active_container_inner %}{% endblock %}
    </div>
{% endblock %}
