{% sw_extends '@WahlBaseTheme/storefront/layout/breadcrumb.html.twig' %}

{# @deprecated tag:v6.8.0 - Block will be removed, the separator has been moved to a CSS only solution - Extend the `layout_breadcrumb_list_item` block if needed #}
{% block layout_breadcrumb_placeholder %}
    {% if key != breadcrumbKeys|last %}
        <div class="breadcrumb-placeholder" aria-hidden="true">
            |
        </div>
    {% endif %}
{% endblock %}
