{% sw_extends '@WahlBaseTheme/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_left_content %}
    <div class="offcanvas-logo-wrapper">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}