{% sw_extends '@WahlBaseTheme/storefront/layout/header/header.html.twig' %}
        
{% block layout_header_navigation_toggle_tablet_button_icon %}
    {#% sw_icon 'stack' %#}
    <span class="icon icon-stack">
        <svg role="img"><use href="#mobile-menu"></use></svg>
    </span>
{% endblock %}