<div class="svg-defs no-display">
    <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="user" viewBox="0 0 25 25" fill="none">
            <path d="M12.55 12.7252C15.201 12.7252 17.35 10.5762 17.35 7.92524C17.35 5.27428 15.201 3.12524 12.55 3.12524C9.89903 3.12524 7.75 5.27428 7.75 7.92524C7.75 10.5762 9.89903 12.7252 12.55 12.7252Z"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.9498 21.8748C19.9498 19.9652 19.1912 18.1339 17.841 16.7836C16.4907 15.4334 14.6594 14.6748 12.7498 14.6748C10.8402 14.6748 9.0089 15.4334 7.65864 16.7836C6.30837 18.1339 5.5498 19.9652 5.5498 21.8748"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="user-mobile" viewBox="0 0 25 25" fill="none">
            <path d="M12.55 12.7252C15.201 12.7252 17.35 10.5762 17.35 7.92524C17.35 5.27428 15.201 3.12524 12.55 3.12524C9.89903 3.12524 7.75 5.27428 7.75 7.92524C7.75 10.5762 9.89903 12.7252 12.55 12.7252Z"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.9498 21.8748C19.9498 19.9652 19.1912 18.1339 17.841 16.7836C16.4907 15.4334 14.6594 14.6748 12.7498 14.6748C10.8402 14.6748 9.0089 15.4334 7.65864 16.7836C6.30837 18.1339 5.5498 19.9652 5.5498 21.8748"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="hearth" viewBox="0 0 25 25">
            <path d="M19.75 14.5C21.24 13.04 22.75 11.29 22.75 9C22.75 7.54131 22.1705 6.14236 21.1391 5.11091C20.1076 4.07946 18.7087 3.5 17.25 3.5C15.49 3.5 14.25 4 12.75 5.5C11.25 4 10.01 3.5 8.25 3.5C6.79131 3.5 5.39236 4.07946 4.36091 5.11091C3.32946 6.14236 2.75 7.54131 2.75 9C2.75 11.3 4.25 13.05 5.75 14.5L12.75 21.5L19.75 14.5Z"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="hearth-mobile" viewBox="0 0 25 25">
            <path d="M19.75 14.5C21.24 13.04 22.75 11.29 22.75 9C22.75 7.54131 22.1705 6.14236 21.1391 5.11091C20.1076 4.07946 18.7087 3.5 17.25 3.5C15.49 3.5 14.25 4 12.75 5.5C11.25 4 10.01 3.5 8.25 3.5C6.79131 3.5 5.39236 4.07946 4.36091 5.11091C3.32946 6.14236 2.75 7.54131 2.75 9C2.75 11.3 4.25 13.05 5.75 14.5L12.75 21.5L19.75 14.5Z"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="hearth-product" viewBox="0 0 25 25">
            <path d="M19.75 14.5C21.24 13.04 22.75 11.29 22.75 9C22.75 7.54131 22.1705 6.14236 21.1391 5.11091C20.1076 4.07946 18.7087 3.5 17.25 3.5C15.49 3.5 14.25 4 12.75 5.5C11.25 4 10.01 3.5 8.25 3.5C6.79131 3.5 5.39236 4.07946 4.36091 5.11091C3.32946 6.14236 2.75 7.54131 2.75 9C2.75 11.3 4.25 13.05 5.75 14.5L12.75 21.5L19.75 14.5Z"   stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="shopping-cart" viewBox="0 0 25 25">
            <g clip-path="url(#clip0_783_1112)">
                <path d="M16.1782 3.07129L19.6068 9.07129M5.8925 9.07129L9.32107 3.07129M21.8011 9.07129H3.69821C3.4411 9.06608 3.18611 9.11879 2.95213 9.2255C2.71816 9.33222 2.51119 9.4902 2.34655 9.68776C2.18192 9.88532 2.06385 10.1174 2.00107 10.3668C1.9383 10.6162 1.93244 10.8765 1.98393 11.1284L3.86964 20.557C3.94979 20.95 4.16522 21.3025 4.47846 21.5531C4.79169 21.8037 5.18288 21.9365 5.58393 21.9284H19.9154C20.3164 21.9365 20.7076 21.8037 21.0208 21.5531C21.3341 21.3025 21.5495 20.95 21.6296 20.557L23.5154 11.1284C23.5668 10.8765 23.561 10.6162 23.4982 10.3668C23.4354 10.1174 23.3174 9.88532 23.1527 9.68776C22.9881 9.4902 22.7811 9.33222 22.5471 9.2255C22.3132 9.11879 22.0582 9.06608 21.8011 9.07129Z"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
                <clipPath id="clip0_783_1112">
                    <rect width="24" height="24" fill="white" transform="translate(0.75 0.5)"/>
                </clipPath>
            </defs>
        </symbol>

        <symbol id="shopping-cart-mobile" viewBox="0 0 25 25">
            <g clip-path="url(#clip0_783_1112)">
                <path d="M16.1782 3.07129L19.6068 9.07129M5.8925 9.07129L9.32107 3.07129M21.8011 9.07129H3.69821C3.4411 9.06608 3.18611 9.11879 2.95213 9.2255C2.71816 9.33222 2.51119 9.4902 2.34655 9.68776C2.18192 9.88532 2.06385 10.1174 2.00107 10.3668C1.9383 10.6162 1.93244 10.8765 1.98393 11.1284L3.86964 20.557C3.94979 20.95 4.16522 21.3025 4.47846 21.5531C4.79169 21.8037 5.18288 21.9365 5.58393 21.9284H19.9154C20.3164 21.9365 20.7076 21.8037 21.0208 21.5531C21.3341 21.3025 21.5495 20.95 21.6296 20.557L23.5154 11.1284C23.5668 10.8765 23.561 10.6162 23.4982 10.3668C23.4354 10.1174 23.3174 9.88532 23.1527 9.68776C22.9881 9.4902 22.7811 9.33222 22.5471 9.2255C22.3132 9.11879 22.0582 9.06608 21.8011 9.07129Z"   stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
                <clipPath id="clip0_783_1112">
                    <rect width="24" height="24" fill="white" transform="translate(0.75 0.5)"/>
                </clipPath>
            </defs>
        </symbol>

        <symbol id="search-icon" viewBox="0 0 25 25" fill="none">
            <path d="M11.75 19C16.1683 19 19.75 15.4183 19.75 11C19.75 6.58172 16.1683 3 11.75 3C7.33172 3 3.75 6.58172 3.75 11C3.75 15.4183 7.33172 19 11.75 19Z" stroke="#525251" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21.7502 21L17.4502 16.7" stroke="#525251" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="phone" viewBox="0 0 23 22" fill="none">
            <path d="M19.0334 14.5999V17.0999C19.0343 17.332 18.9868 17.5617 18.8938 17.7744C18.8008 17.987 18.6645 18.1779 18.4935 18.3348C18.3224 18.4917 18.1205 18.6112 17.9007 18.6855C17.6808 18.7599 17.4479 18.7875 17.2167 18.7666C14.6524 18.488 12.1892 17.6117 10.0251 16.2083C8.01158 14.9288 6.30451 13.2217 5.02506 11.2083C3.61671 9.03426 2.74026 6.55908 2.46672 3.98325C2.4459 3.75281 2.47329 3.52055 2.54714 3.30127C2.621 3.08199 2.7397 2.88049 2.8957 2.7096C3.05169 2.53871 3.24156 2.40218 3.45322 2.30869C3.66487 2.2152 3.89368 2.1668 4.12506 2.16658H6.62506C7.02948 2.1626 7.42155 2.30582 7.72819 2.56953C8.03483 2.83324 8.23512 3.19946 8.29172 3.59992C8.39724 4.39997 8.59293 5.18552 8.87506 5.94158C8.98718 6.23985 9.01144 6.56401 8.94498 6.87565C8.87852 7.18729 8.72411 7.47334 8.50006 7.69992L7.44172 8.75825C8.62802 10.8445 10.3554 12.572 12.4417 13.7583L13.5001 12.6999C13.7266 12.4759 14.0127 12.3215 14.3243 12.255C14.636 12.1885 14.9601 12.2128 15.2584 12.3249C16.0145 12.607 16.8 12.8027 17.6001 12.9083C18.0049 12.9654 18.3746 13.1693 18.6388 13.4812C18.9031 13.7931 19.0435 14.1912 19.0334 14.5999Z" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="mobile-menu" viewBox="0 0 24 24" fill="none">
            <path d="M1.7998 12H22.1998" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1.7998 4.34277H22.1998" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1.7998 19.6572H22.1998" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="phone" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path d="M19.0334 14.5999V17.0999C19.0343 17.332 18.9868 17.5617 18.8938 17.7744C18.8008 17.987 18.6645 18.1779 18.4935 18.3348C18.3224 18.4917 18.1205 18.6112 17.9007 18.6855C17.6808 18.7599 17.4479 18.7875 17.2167 18.7666C14.6524 18.488 12.1892 17.6117 10.0251 16.2083C8.01158 14.9288 6.30451 13.2217 5.02506 11.2083C3.61671 9.03426 2.74026 6.55908 2.46672 3.98325C2.4459 3.75281 2.47329 3.52055 2.54714 3.30127C2.621 3.08199 2.7397 2.88049 2.8957 2.7096C3.05169 2.53871 3.24156 2.40218 3.45322 2.30869C3.66487 2.2152 3.89368 2.1668 4.12506 2.16658H6.62506C7.02948 2.1626 7.42155 2.30582 7.72819 2.56953C8.03483 2.83324 8.23512 3.19946 8.29172 3.59992C8.39724 4.39997 8.59293 5.18552 8.87506 5.94158C8.98718 6.23985 9.01144 6.56401 8.94498 6.87565C8.87852 7.18729 8.72411 7.47334 8.50006 7.69992L7.44172 8.75825C8.62802 10.8445 10.3554 12.572 12.4417 13.7583L13.5001 12.6999C13.7266 12.4759 14.0127 12.3215 14.3243 12.255C14.636 12.1885 14.9601 12.2128 15.2584 12.3249C16.0145 12.607 16.8 12.8027 17.6001 12.9083C18.0049 12.9654 18.3746 13.1693 18.6388 13.4812C18.9031 13.7931 19.0435 14.1912 19.0334 14.5999Z" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="right-arrow" viewBox="0 0 8 11" fill="none">
            <path d="M1 9.5L7 5.5L1 1.5" stroke="#00757B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="rating-star" viewBox="0 0 12 13">
            <path d="M5.61958 1.17082C5.73932 0.802296 6.26068 0.802296 6.38042 1.17082L7.48179 4.56049C7.53534 4.7253 7.68892 4.83688 7.86222 4.83688H11.4263C11.8138 4.83688 11.9749 5.33273 11.6614 5.56049L8.77801 7.65542C8.63782 7.75728 8.57915 7.93782 8.6327 8.10263L9.73407 11.4923C9.85382 11.8608 9.43202 12.1673 9.11854 11.9395L6.23511 9.84458C6.09492 9.74273 5.90508 9.74273 5.76489 9.84458L2.88146 11.9395C2.56798 12.1673 2.14618 11.8608 2.26593 11.4923L3.3673 8.10263C3.42085 7.93782 3.36218 7.75728 3.22199 7.65542L0.338563 5.56049C0.0250777 5.33273 0.186188 4.83688 0.573677 4.83688H4.13778C4.31108 4.83688 4.46466 4.7253 4.51821 4.56049L5.61958 1.17082Z" />
        </symbol>

        <symbol id="user-check" viewBox="0 0 9 7">
            <path d="M0.874512 3.49996L3.10726 5.73271L7.57275 1.26721" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="remove" viewBox="0 0 18 20" fill="none">
            <path d="M3.66033 19.5999C3.11651 19.5999 2.65264 19.4083 2.26873 19.0252C1.88562 18.6421 1.69406 18.1783 1.69406 17.6336V2.55488H1.08531C0.912428 2.55488 0.767546 2.49685 0.650665 2.38078C0.534597 2.2639 0.476562 2.11901 0.476562 1.94613C0.476562 1.77324 0.534597 1.62836 0.650665 1.51148C0.767546 1.39541 0.912428 1.33738 1.08531 1.33738H5.34657C5.34657 1.08576 5.43991 0.866611 5.62659 0.679928C5.81328 0.493244 6.03243 0.399902 6.28405 0.399902H11.7141C11.9657 0.399902 12.1849 0.493244 12.3716 0.679928C12.5582 0.866611 12.6516 1.08576 12.6516 1.33738H16.9128C17.0857 1.33738 17.2306 1.39541 17.3475 1.51148C17.4636 1.62836 17.5216 1.77324 17.5216 1.94613C17.5216 2.11901 17.4636 2.2639 17.3475 2.38078C17.2306 2.49685 17.0857 2.55488 16.9128 2.55488H16.3041V17.6336C16.3041 18.1775 16.1125 18.6413 15.7294 19.0252C15.3463 19.4083 14.8824 19.5999 14.3378 19.5999H3.66033ZM15.0866 2.55488H2.91157V17.6336C2.91157 17.852 2.98177 18.0314 3.12219 18.1718C3.26261 18.3122 3.44199 18.3824 3.66033 18.3824H14.3378C14.5562 18.3824 14.7355 18.3122 14.876 18.1718C15.0164 18.0314 15.0866 17.852 15.0866 17.6336V2.55488ZM8.99907 11.3306L11.7336 14.0651C11.8472 14.1788 11.9868 14.2396 12.1524 14.2478C12.318 14.2559 12.4657 14.195 12.5956 14.0651C12.7254 13.9353 12.7904 13.7916 12.7904 13.6341C12.7904 13.4767 12.7254 13.333 12.5956 13.2032L9.86106 10.4686L12.5956 7.73413C12.7092 7.6205 12.7701 7.48089 12.7782 7.31531C12.7863 7.14973 12.7254 7.00201 12.5956 6.87214C12.4657 6.74227 12.322 6.67734 12.1646 6.67734C12.0071 6.67734 11.8635 6.74227 11.7336 6.87214L8.99907 9.60665L6.26456 6.87214C6.15093 6.75851 6.01132 6.69763 5.84574 6.68952C5.68016 6.6814 5.53244 6.74227 5.40257 6.87214C5.27271 7.00201 5.20777 7.14567 5.20777 7.30314C5.20777 7.4606 5.27271 7.60427 5.40257 7.73413L8.13708 10.4686L5.40257 13.2032C5.28894 13.3168 5.22807 13.4564 5.21995 13.622C5.21183 13.7876 5.27271 13.9353 5.40257 14.0651C5.53244 14.195 5.67611 14.2599 5.83357 14.2599C5.99103 14.2599 6.1347 14.195 6.26456 14.0651L8.99907 11.3306Z" fill="#525251"/>
        </symbol>

        <symbol id="trash-ic" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.55109 18C5.09791 18 4.71135 17.8404 4.39142 17.5211C4.07216 17.2019 3.91253 16.8153 3.91253 16.3614V3.79581H3.40524C3.26117 3.79581 3.14044 3.74745 3.04303 3.65073C2.94631 3.55333 2.89795 3.43259 2.89795 3.28852C2.89795 3.14445 2.94631 3.02372 3.04303 2.92632C3.14044 2.82959 3.26117 2.78123 3.40524 2.78123H6.95629C6.95629 2.57155 7.03407 2.38892 7.18964 2.23335C7.34521 2.07778 7.52784 2 7.73752 2H12.2626C12.4722 2 12.6549 2.07778 12.8104 2.23335C12.966 2.38892 13.0438 2.57155 13.0438 2.78123H16.5948C16.7389 2.78123 16.8596 2.82959 16.957 2.92632C17.0538 3.02372 17.1021 3.14445 17.1021 3.28852C17.1021 3.43259 17.0538 3.55333 16.957 3.65073C16.8596 3.74745 16.7389 3.79581 16.5948 3.79581H16.0876V16.3614C16.0876 16.8146 15.9279 17.2012 15.6087 17.5211C15.2894 17.8404 14.9029 18 14.449 18H5.55109ZM15.073 3.79581H4.92712V16.3614C4.92712 16.5434 4.98563 16.6929 5.10264 16.8099C5.21966 16.9269 5.36914 16.9854 5.55109 16.9854H14.449C14.6309 16.9854 14.7804 16.9269 14.8974 16.8099C15.0145 16.6929 15.073 16.5434 15.073 16.3614V3.79581ZM10 11.1089L12.2788 13.3877C12.3735 13.4824 12.4898 13.5331 12.6278 13.5399C12.7658 13.5466 12.8889 13.4959 12.9971 13.3877C13.1053 13.2795 13.1595 13.1598 13.1595 13.0285C13.1595 12.8973 13.1053 12.7776 12.9971 12.6694L10.7184 10.3906L12.9971 8.11186C13.0918 8.01716 13.1425 7.90082 13.1493 7.76284C13.1561 7.62486 13.1053 7.50175 12.9971 7.39353C12.8889 7.28531 12.7692 7.2312 12.638 7.2312C12.5067 7.2312 12.387 7.28531 12.2788 7.39353L10 9.67229L7.72128 7.39353C7.62659 7.29884 7.51025 7.24811 7.37227 7.24134C7.23428 7.23458 7.11118 7.28531 7.00296 7.39353C6.89474 7.50175 6.84062 7.62148 6.84062 7.75269C6.84062 7.88391 6.89474 8.00364 7.00296 8.11186L9.28172 10.3906L7.00296 12.6694C6.90826 12.7641 6.85753 12.8804 6.85077 13.0184C6.84401 13.1564 6.89474 13.2795 7.00296 13.3877C7.11118 13.4959 7.2309 13.55 7.36212 13.55C7.49334 13.55 7.61306 13.4959 7.72128 13.3877L10 11.1089Z" fill="#525251"/>
        </symbol>

        <symbol id="share" viewBox="0 0 24 24" fill="none">
            <path d="M18.4581 7.84971C19.7315 7.84971 20.7638 6.81741 20.7638 5.544C20.7638 4.27059 19.7315 3.23828 18.4581 3.23828C17.1846 3.23828 16.1523 4.27059 16.1523 5.544C16.1523 6.81741 17.1846 7.84971 18.4581 7.84971Z" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.544 15.2279C6.81741 15.2279 7.84971 14.1956 7.84971 12.9222C7.84971 11.6488 6.81741 10.6165 5.544 10.6165C4.27059 10.6165 3.23828 11.6488 3.23828 12.9222C3.23828 14.1956 4.27059 15.2279 5.544 15.2279Z" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.4581 20.7618C19.7315 20.7618 20.7638 19.7295 20.7638 18.4561C20.7638 17.1827 19.7315 16.1504 18.4581 16.1504C17.1846 16.1504 16.1523 17.1827 16.1523 18.4561C16.1523 19.7295 17.1846 20.7618 18.4581 20.7618Z" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.84766 13.8446L16.1482 17.5338M16.1482 6.92749L7.84766 11.5389" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>
    </svg>
</div>